@{
    ViewBag.Title = "What is AnimeGET?";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>At this point in time AnimeGET is an anime website where if you have a list of anime you want to watch you can make that list and manage it on AnimeGET. This is especially useful if you have a long list of animes to watch and you need an efficient way to manage that list whether it's adding a new anime to your list or deleting an anime off that list because you just watched it. There will be more features added to AnimeGET in the future!</p>
