@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    305 North 42nd Street<br />
    Louisville, KY 40212<br />
    <abbr title="Phone">P:</abbr>
    502-471-6626
</address>

<address>
    <strong>My Main E-mail</strong>   <a href="mailto:Support@example.com">justinthomas123456789@yahoo.com</a><br />
    <strong>My Anime YouTube Channel E-mail</strong> <a href="mailto:Marketing@example.com">AnimeSageTops@yahoo.com</a>
</address>