@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AnimeGET</h1>
    <p class="lead">AnimeGET is an awesome site where you can make a list of the anime you are currently watching and can manage that list adding new anime you need to watch and deleting old anime that you have already watched. This is will give you the most efficient way to keep up with all the anime that you plan on watching. To find out more click on the button below! Also below are the current top 3 NEW anime of the 2016 Winter Season.</p>
    <p><a href="http://localhost:65073/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Boku Dake ga Inai Machi <img src="http://cdn.myanimelist.net/images/anime/10/77957.jpg" alt="Boku dake ga Inai Machi" /></h2>
        <p>
            Struggling manga author Satoru Fujinuma is beset by his fear to express himself. However, he has a supernatural ability of being forced to prevent deaths and catastrophes by being sent back in time before the incident occurred, repeating time until the accident is prevented. One day, he gets involved in an accident that has him framed as a murderer. Desperate to save the victim, he sends himself back in time only to find himself as a grade-schooler one month before fellow classmate Kayo Hinazuki went missing. Satoru now embarks on a new quest: to save Kayo and solve the mystery behind her disappearance.
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=g8tTxuO1oIY">See Trailer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hai To Gensou no Grimgar <img src= "http://cdn.myanimelist.net/images/anime/13/77976.jpg" alt="Hai To Gensou no Grimgar"/></h2>
        <p>
        Awaken...

This is the only thing the youth of Hai to Gensou no Grimgar remember before awakening in an unknown building in a medieval landscape enshrouded in darkness. They don't remember anything besides their own names. What's stranger is that sometimes they catch themselves saying words that they don't understand, even though they seem so familiar.

The group of strangers is told that in order to make a living, they would have to join the Reserve Army forces to keep the town safe from nearby monsters. The stronger looking people form a team to join the Reserve Army and depart, leaving Manato, Haruhiro, Ranta, Yume, Mogzo, and Shihoru to fend for themselves. But how will they get by if they can't even defeat the weakest of monsters?

Born from the ashes of their old memories, the ragtag team of six start a new life in the world of Grimgar.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=RMzdF9FcmZo">See Trailer &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Musaigen no Phantom World <img src= "http://cdn.myanimelist.net/images/anime/4/78339.jpg"/></h2>
        <p>
            In the near future, spirits and monsters are in full sight.

            A boy leads a group of people with special abilities as they plot against a massive organization that takes advantage of a certain incident and eventually know the truth about their world in the process.

            Is the world the real thing...? Or is it a mere phantom...?
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=Vq5shaXgf3Y">See Trailer &raquo;</a></p>
    </div>
</div>